*, *::before, *::after {
 box-sizing: border-box;
font-family:'Roboto', sans-serif;
}
body{ margin:0; 
  background-color: #111;
  color: #ffffff;
}
.title{
    font-size: 5em;
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container {
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .menu {
    text-align: center;
  }
  
  .game {

    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    gap: 2rem;
    font-family: Arial, sans-serif;
  }
  
  #start-button{
    background-color: #00daa7;
    padding: .5rem 2rem;
    font-size: 2rem;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: .5s;
   /*  animation: biggy 5s infinite; */
  }

/*  @keyframes biggy {
  0%{
    scale: 1;
  }
  50%{
    scale: 0.8;
  }
  100%{
    scale: 1;
  }
 } */

  #start-button:hover{
    background-color: #4cb3d5;
    scale: 1.2;
  }

  #score{
    color: rgb(106, 255, 106);
  }

  #input-area{
    font-size: 1.5rem;
    background-color: #11111100;
    border: 0px;
    border-bottom: 4px solid white;
    border-style: dotted;
    outline: none;

    color: white;
    padding: 5px;
  }

  @media(max-width:1200px)

  {

    #start-button{

      font-size: 4rem;
    margin-block: 2rem;
    }
    .preparate{
      font-size: 3rem;
    
    }

    #score{
      font-size: 4rem;
    }
    #input-area{
      font-size: 4rem;
      border-bottom: 8px solid white;
      border-style: dotted;
      color: white;
      padding: 5px;
    }
    .title{
      font-size: 10rem;
    }
  }
  