.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    text-align: center;
  }
  
  .game {
    border: 2px solid black;
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
  }
  